@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-medium-webfont.eot');
    src: url('../fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-medium-webfont.woff') format('woff'),
         url('../fonts/roboto-medium-webfont.ttf') format('truetype'),
         url('../fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'roboto-light';
    src: url('../fonts/roboto-light-webfont.eot');
    src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-light-webfont.woff') format('woff'),
         url('../fonts/roboto-light-webfont.ttf') format('truetype'),
         url('../fonts/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{
	font-family: 'roboto';
}
p{
	font-size: 5em;
	color:#fff;
}
.container{
	overflow: hidden;
	margin: 0px;
	background-color:#27a9e1;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}
.logo{
	position: absolute;
	width: 300px;
	height: 300px;
	text-align: center;
	top: 50%;
	margin-top: -150px;
	left: 50%;
	margin-left: -150px;
	line-height: 150px;
}
.logo img{
	height: 300px;
}